.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  height: 100px;
}

.navbar .logo {
  width: 200px;
  object-fit: cover;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 25px;
  color: var(--secondary-color);
  font-size: 18px;
  text-transform: capitalize;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.navbar button:hover {
  background-color: var(--primary-color);
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--primary-color);
}

.navbar li {
  cursor: pointer;
}

.navbar-bag-icon {
  position: relative;
}

.navbar-bag-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: var(--primary-color);
  border-radius: 5px;
  top: -8px;
  right: -8px;
  border: 0.25px solid var(--secondary-color);
}
